.adminimal h1 {
  margin-top: 10px;
}

.adminimal .content-header {
  background-color: #334349;

}

body.path-user-login {
  background-color: #F1F1F1;
}

.path-user-login header h1 {
  display: none;
}

.path-user-login .page-content {
  background-color: #FFFFFF;
  width: 320px;
  margin: 10% auto 0%;
  padding-top: 5px;
}
.path-user-login #user-login-form {
  padding: 0px 25px 0px;
}

.path-user-login #user-login-form label {
    font-size: 17px;
    margin-bottom: 15px;
}

.path-user-login #user-login-form #edit-submit {
  float: left;
}

.path-user-login .links {
  padding: 0px 25px 30px;
  float: right;
}
.path-user-login .logo {
  width: 320px;
  margin: 5px auto;
  padding: 5px 0px 3px;
  text-align: center;
  background-color: #FFFFFF;
}

.path-user-login .logo a {
  font-size: 20px;
  color: #595959;
  text-decoration: none;
  bottom: 5px;
  position: relative;
}

.path-user-login .logo img {
  width: 25px;
  margin-right: 5px;
}

.layout-region-node-main,
.layout-region-node-footer {
  border: solid 1px #CCCCCC;
  padding-left: 2em;
  padding-right: 2em;
}
@media screen and (min-width:780px),(orientation:landscape) and (min-device-height:780px){
  .layout-region-node-main,
  .layout-region-node-footer {
    width: 64%;
  }
}

.layout-region-node-footer {
  background-color: #f7f7f7;
  margin-top: 2em;
}

.layout-region-node-secondary-top {
  background-color: #f7f7f7;
  margin-bottom: 2em;
  padding-left: 2em;
  border: solid 1px #CCCCCC;
}

.layout-actions #edit-footer,
.layout-actions #edit-actions {
    width: auto;
    display: inline-block;
}
.layout-actions #edit-footer {
  margin-right: 1em;
  margin-top: 1em;
}

#edit-status-wrapper,
#edit-delete {
  border: 1px solid #a6a6a6;
  font-size: 0.875rem;
  padding: 1px 21px 3px;
}
.layout-region-node-secondary-top #edit-status-wrapper {
  padding: 1px 21px 4px;
}

#edit-status-wrapper .form-item {
  margin: 0px;
}

#edit-status-wrapper input {
  position: relative;
  top: 3px;
}
#edit-status-wrapper label.option {
  font-weight: 600;
}

#edit-delete {
  padding: 4px 21px 4px;
  margin-left: 0px;
}

#edit-title-wrapper input {
  width: 100%;
}
