
#toolbar-administration .toolbar-icon-admin-toolbar-tools-help::before {
  background-image: url("../../../themes/bfc_admin_theme/images/logo.png");
  background-size: auto 70%;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-bar {
  background-color: #172126;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-menu {
  background: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration .toolbar-tray a {
  color: #FFFFFF;
}
.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal a:hover,
.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal a:active,
.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal a:focus {
  background: #3476A8;
  color: #FFFFFF;
}

.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal .menu-item--expanded:hover > a,
.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal .menu-item--expanded:hover > .toolbar-box > a {
  background: #3476A8;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-bar .toolbar-item {
  color: #FFFFFF;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-tray a.is-active {
  color: #FFFFFF;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-tray {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-toggle-orientation {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-tray-vertical .toolbar-menu a {
  color: #FFFFFF;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .menu-item:hover {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .menu-item:focus {
  background: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .menu-item--expanded {
  background-color: #2a3e47;
}

.adminimal-admin-toolbar #toolbar-administration .toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded:after {
  content: ">";
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-menu .toolbar-menu a {
  color: #FFFFFF;
}

.adminimal-admin-toolbar #toolbar-administration. toolbar-tray-horizontal ul li.menu-item {
  border-top: none;
}

.adminimal-admin-toolbar #toolbar-administration.toolbar .toolbar-tray-horizontal ul  ul li.menu-item:first-child {
  border-top: solid 1px #172126;
}
